# Объектные файлы
*.o

# Скомпилированные бинарники
*.out
*.exe

# Библиотеки
*.a
*.so
*.dll

# Файлы резервных копий
*~

# Логи и временные файлы
*.log
*.tmp
*.swp

# Если используешь make
Makefile~

# Кэш и служебные файлы редакторов
.vscode/
.idea/
